.title{
    color: orange !important;
}

.nav-link{
    color: whitesmoke;
}

.nav-link:hover{
    color: orange;
}

.search{
    color: orange;
    border-color: orange;
}

.search:hover{
    color: #343a40;
    background-color: orange;
}

.navbar-toggler .bi-list{
    color: whitesmoke;
}
.widget-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#weather-icon{
    height: 120px;
}
.page-img{
    width: 100%;
    max-width: fit-content;
}
.page-item{
    width: 100%;
}
.page-link{
    width: 100%;
    background-color: #343a40;
    color: whitesmoke;
}
.act, .page-link:focus, .page-link:hover{
    color: #343a40;
    background-color: whitesmoke;
    outline: 0;
    box-shadow: initial;
}

