:root {
    --color1: #1B1A17;
    --color1-l: hwb(48 10% 89%);
    --color2: #F0A500;
    --color3: #E45826;
    --color4: #ebebeb;
    --color4-lo: #ebebeb69;
}

body {
    background-color: var(--color4);
}

.title {
    color: var(--color2) !important;
}

.navbar,
#sidebar,
.widget {
    background-color: var(--color1);
    border-style: solid;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color: var(--color2);
}
.active {
    color: var(--color2) !important;
}

.search {
    color: var(--color2);
    border-color: var(--color2);
}

.search:hover {
    color: #343a40;
    background-color: var(--color2);
}

.navbar-toggler .bi-list {
    color: whitesmoke;
}

.widget-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.widget-list p{
    margin: 0;
}
.widget-list li{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--color4-lo);
    opacity: 10;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#weather-icon {
    height: 120px;
}

.page-img {
    width: 100%;
    max-width: fit-content;
}

.page-item {
    width: 100%;
}

.page-link {
    width: 100%;
    background-color: #343a40;
    color: whitesmoke;
}

.act,
.page-link:focus,
.page-link:hover {
    color: #343a40;
    background-color: whitesmoke;
    outline: 0;
    box-shadow: initial;
}
#main-temp {
    letter-spacing: -0.4rem;
    font-size: 5rem;
    font-family: sans-serif;
}
#weather-icon{
    margin-right:-26px
}