{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <p>{{ data['location']['name'] }}, {{ data['location']['region'] }}, {{ data['location']['country'] }}</p>
        </div>
    </div>
    <div class="row">

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for day in data['forecast'] %}
                <li class="page-item">
                    <button class="page-link" type="button" value="{{ loop.index }}">
                        <img class="page-img" src="{{ day['day']['condition']['icon'] }}" alt="">
                        <h6>{{ day['date_epoch'] | day }}</h6>
                        <h6>{{ day['date_epoch'] | day_str }}</h6>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="container">

            <table class="table table-dark table-striped pages-container" id="pagination">
            <thead>
                <th>
                        
                </th>
            </thead>
            {% for day in data['forecast'] %}
            <tbody class="collapse" id="page{{ loop.index }}">
                {% for hour in day['hour'] %}
                <tr>
                    <td>{{ hour['time_epoch'] | hour }}</td>
                </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
            </table>
            
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/pagination.js') }}" }}></script>
{% endblock script %}