<footer id="footer" class="container-fluid mt-2">
    <div class="d-flex flex-row justify-content-evenly py-2">
                <a class="nav-link" href="{{ url_for('api.index') }}">Home</a>

                <a class="nav-link" href="{{ url_for('api.days') }}">Days</a>

            {% if g.user %}
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ g.user['username'] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">LogOut</a></li>
                </ul>
            {% else %}

                <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>

                <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>

            {% endif %}
    </div>
    <div class="d-flex flex-row justify-content-evenly">
        <p>Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a></p>
    </div>
</footer>