{% extends 'layout.html' %}

{% block content %}
<div class="col-12 col-md py-2 widget">
  <div class="row">
    <div class="col">
      <h6 id="location-name">{{ session['data']["location"]['name'] }}, {{ session['data']['location']['region'] }},
        {{session['data']['location']['country']}}</h6>
    </div>
    <div class="col-auto">
      {% if session['city'] in session['favorite'] %}
      <a href="{{ url_for('api.favorite', city=session['city'], add=False) }}" class="btn btn-dark fav-remove"
        title="Remove from favorites"><i class="bi bi-star-fill"></i></a>
      {% else %}
      <a href="{{ url_for('api.favorite', city=session['city'], add=True) }}" class="btn btn-dark fav-add "
        title="Add to favorites"><i class="bi bi-star"></i></a>
      {% endif %}
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-auto p-0">
      <img id="weather-icon" src="{{ session['data']['current']['condition']['icon'] }}"
        alt="{{ session['data']['current']['condition']['text'] }}">
    </div>
    <div class="col-auto p-0">
      <p id="main-temp">{{ session['data']['current']['temp_c'] | int }}°</p>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-auto">
      <h6 id="weather-description">{{ session['data']['current']['condition']['text'] }}</h6>
    </div>
    <div class="col-auto">

    </div>

  </div>
</div>


<div class="container col-12 col-md py-2 widget">
  <div class="row h-100">
    <div class="col-md">
      <ul class="widget-list">
        <li>
          <p id="main-feels_like">Date</p>
          <p>{{ session['data']['current']['last_updated_epoch'] | }}</p>
        </li>
        <li>
          <p id="main-pressure">Precipitation</p>
          <p>{{ session['data']['current']['precip_mm'] }} mm</p>
        </li>
        <li>
          <p id="main-humidity">Visibility</p>
          <p>{{ session['data']['current']['vis_km'] }} km</p>
        </li>
        <li>
          <p id="clouds-all">Cloudiness</p>
          <p>{{ session['data']['current']['cloud'] }}%</p>
        </li>
      </ul>

    </div>
    <div class="col-md">


      <ul class="widget-list">
        <li>
          <p id="main-feels_like">Feels</p>
          <p>{{ session['data']['current']['feelslike_c'] | int }} C°</p>
        </li>
        <li>
          <p id="main-pressure">Pressure</p>
          <p>{{ session['data']['current']['pressure_mb'] }} hPa</p>
        </li>
        <li>
          <p id="main-humidity">Humidity</p>
          <p>{{ session['data']['current']['humidity'] }}%</p>
        </li>
        <li>
          <p id="wind-speed">Wind</p>
          <p>{{ session['data']['current']['wind_dir'] }} {{ session['data']['current']['wind_kph'] }} kph</p>
        </li>
        
      </ul>
    </div>
  </div>
</div>




<!-- <div id="main" class="col-12 col-sm py-2">

  <div class="row">

    <div class="col">

      <div class="row">
        <div class="col text-start m-auto">
          <h5 id="location-name">{{ session['data']['location']['name'] }}, {{ session['data']['location']['region'] }},
            {{session['data']['location']['country']}}</h5>
        </div>
        <div class="col-auto">
          {% if session['city'] in session['favorite'] %}
          <a href="{{ url_for('api.favorite', city=session['city'], add=False) }}" class="btn btn-dark fav-remove"
            title="Remove from favorites"><i class="bi bi-star-fill"></i></a>
          {% else %}
          <a href="{{ url_for('api.favorite', city=session['city'], add=True) }}" class="btn btn-dark fav-add "
            title="Add to favorites"><i class="bi bi-star"></i></a>
          {% endif %}
        </div>
      </div>

      <div class="row text-center justify-content-evenly text-md-start align-items-center">

        <div class="col-12 col-md-auto">
          <img id="weather-icon" src="{{ session['data']['current']['condition']['icon'] }}"
            alt="{{ session['data']['current']['condition']['text'] }}">
        </div>
        <div class="col-auto d-flex gap-3">
          <ul class="widget-list">
            <li>
              <p id="weather-description">{{ session['data']['current']['condition']['text'] }}</p>
            </li>
            <li>
              <p id="main-temp">Temperature: {{ session['data']['current']['temp_c'] }} C°</p>
            </li>
            <li>
              <p id="main-feels_like">Feels: {{ session['data']['current']['feelslike_c'] }} C°</p>
            </li>
          </ul>
          <ul class="widget-list">
            <li>
              <p id="main-pressure">Pressure: {{ session['data']['current']['pressure_mb'] }} hPa</p>
            </li>
            <li>
              <p id="main-humidity">Humidity: {{ session['data']['current']['humidity'] }}%</p>
            </li>
            <li>
              <p id="wind-speed">Wind: {{ session['data']['current']['wind_kph'] }} kph</p>
            </li>
            <li>
              <p id="clouds-all">Cloudiness: {{ session['data']['current']['cloud'] }}%</p>
            </li>
          </ul>
        </div>

      </div>

      <div class="row">
        <div class="col d-flex justify-content-between">

          <p>Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a></p>
        </div>
      </div>

    </div>
  </div>
</div> -->

<!-- <aside id="sidebar" class="col-12 ms-sm-2 col-sm-auto py-2">
  {% include 'sidebar.html' %}
</aside> -->

{% endblock %}